@import "tailwindcss";

@layer base {
  .title {
    text-align: center;
    font-size: 2.5rem;
    margin: 4rem 0;
  }
  .form {
    width: 20rem;
    background-color: rgb(39, 39, 42);
    color: rgb(212, 212, 216);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border-radius: 1rem;
  }
  .formField {
    display: flex;
    flex-direction: column;
  }
  .formLabel {
    font-size: 1.25rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
  }

  .formInput {
    background-color: rgb(212, 212, 216);
    color: rgb(39, 39, 42);
    border: none;
    outline: none;
    border-radius: 0.25rem;
    padding: 0.25rem;
    margin: 0.2rem 0;
  }
  .errorMsg {
    color: rgb(255, 100, 103);
    font-size: 0.875rem;
    letter-spacing: 0.1rem;
  }
  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: rgb(212, 212, 216) rgb(39, 39, 42);
  }
}
